<h1>StaticPage#home</h1>
<p>

	

	<%='in the begining ' + @Jesus%><br/>

	<p> Jesus is the <%=@vine %><p/></br>

		<%= @date %><br/>

		<%= link_to 'Contact Us', contact_path %></br>


<%= 1+1 %>
</p>
